<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Web Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<nav class="nav4" style="background-color: rgb(192, 192, 247);">
    <div class="head"> Get Started</div>
</nav>
<body style="background-color: rgb(223, 223, 247);">
    <div style="position: relative; top: 15vw; justify-content: center; text-align: center; margin-left: -15vw;">
        <button style="margin-right: 10vw; height: 4vw; width: 10vw;">Login</button>
        <button class="b2" style="height: 4vw; width: 10vw;">Sign up</button>
    </div>
</body>
</html>
